@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject TokenAuthenticationStateProvider TokenProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                Logged in as @context.User.Identity.Name
                <button class="btn btn-sm btn-outline-dark" @onclick="@(() => TokenProvider.SetTokenAsync(null))">Logout</button>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>